.header {
  height: 41rem;
  position: relative;
  /* display: flex;
  flex-direction: row; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border-bottom: 1px solid black; */
}
.illustration-working {
  position: absolute;
  right: 0rem;
  /* top: 1.2rem; */

  top: 7%;
}
.headerData {
  position: absolute;
  display: flex;
  width: 40%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-wrap: wrap;
  top: 20%;
  height: 30%;
  left: 5rem;
}
.bigTitle {
  font-size: 5rem !important;
  font-weight: bolder;
  /* margin-top: 160px; */
}
.titleDescription {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  /* margin-top: 25px; */
  width: 700px;
  font-size: 23px;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    /* height: 60rem; */
  }
  .illustration-working {
    width: 50%;
  }
  .headerData {
    left: 3rem;
    top: 7%;
  }
  .bigTitle {
    font-size: 2.5rem !important;
  }

  .titleDescription {
    font-size: 18px;
  }
}
